@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham/Gotham-Black.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham/Gotham-BlackIta.otf') format('opentype');
  font-style: italic;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('fonts/Gotham/Gotham-Book.otf') format('opentype');
}

body {
    font-family: Gotham;
    font-weight: normal;
    font-size: 17px;
    margin: 0;
}

body.blue {
    background-color: 0B5BFC;
    color: FEDF0B;
}

body.yellow {
    background-color: FEDF0B;
    color: 0B5BFC;
}

.business-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    margin-right: 0;
}

.business-logo img{
    width: 170px;
}

.info-link {
    position: absolute;
    font-family: Gotham-Book;
    font-size: 17px;
    font-weight: bold;
    word-spacing: -3px;
    right: 10px;
    top: 10px;
}

.info-link-in-box {
    color: 0B5BFC;
}

.info-link:hover {
    color: white;
    transition: color 0.25s;
    cursor: pointer;
}

.info-box {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 550px;
    margin-top: -700px;
    background-color: FEDF0B;
    color: 0B5BFC;
}

.info-box #info-box-container {
    position: relative;
    top: 10%;
}

.info-box h1 {
    font-size: 55px;
}
.info-box .text {
    width: 560px;
    margin: 0 auto;
    font-family: Gotham-Book;
}

#logotype {
    width: 650px;
    margin-top: -30px;
}

.main {
    margin: 0 auto;
    padding-top: 130px;
    width: 600px;
    text-align: center;
}

.main .header {
    padding-top: 12%;
    height: 100px;
}

.main .header .swedish-word {
    font-size: 55px;
}

.main .header .subtext {
    font-size: 40px;
}

.subtext #audio-button {
    display: none;
    color: white;
    cursor: pointer;
}

.main .description {
    font-family: Gotham-Book;
    height: 220px;
    width: 480px;
    margin: 0 auto;
}

.main .description span.not-intro {
    position: relative;
    top: 50px;
}

.main .action-buttons {
    margin: 30px auto 15px;
    display: table;
}

.action-buttons > div {
    display: table-cell;
}

.action-buttons > div:first-child {
    margin-right: 20px;
}

.button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.action-buttons.yellow > div{
    background-color: FEDF0B;
    color: 0B5BFC;
}

.action-buttons.blue > div {
    background-color: 0B5BFC;
    color: FEDF0B;
}

.main .action-buttons .button .text{
    line-height: 50px;
}

#email-button {
    display: none;
}

.main .social-buttons {
    display: none;
    font-size: 30px;
    margin: 0px auto;
    color: white;
}

.main .social-buttons i {
    padding-left: 5px;
    cursor: pointer;
}

.main .social-buttons i:first-child {
    padding-left: 0;
}

/* Tablets and phablets */
@media (max-width: 800px) {

}

/* Small phones */
@media (max-width: 400px) {
    body {
        font-size: 12px;
    }

    .business-logo img{
        width: 90px;
    }

    .info-box {
        max-width: 100%;
        padding-top: 5px;
    }

    #info-box-container {
        max-width: 80%;
        margin: 0 auto;
    }

    #info-box-container .header h1 {
        margin-bottom: 0.2em;
        font-size: 40px;
    }

    #info-box-container .text {
        max-width: 100%;
    }

    .main {
        max-width: 80%;
    }

    .main .description {
        max-width: 100%;
        height: 170px;
    }

    .main .description span.not-intro {
        top: 40px;
    }

    .main .header {
        padding-top: 15%;
        height: 90px;
    }

    .main .header .swedish-word {
        font-size: 40px;
    }

    .main .header .subtext {
        font-size: 30px;
    }

    .main .action-buttons {
        margin-bottom: 10px;
    }

    .main .social-buttons i {
        font-size: 45px;
        padding-left: 10px;
    }
}