<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="http://takeovertheword.com" />
        <meta property="og:title" content="Take over the Word!" />
        <meta property='og:image' content='http://takeovertheword.com/img/sharelogo.png' />
        <meta property="og:description" content="Time to start learning some Swedish." />

        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script src="lib/historyjs/scripts/bundled/html4+html5/native.history.js"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

        <title>
            Take Over The Word
        </title>
        <script type="application/json" id="words">
            [
              {
                "share-url": "Hinna.html",
                "word": "Hinna",
                "explanation": "When you struggle to make it on time, why use five words when you can use one? That\u2019s Swedish efficiency right there. Maybe that\u2019s part of the explanation why our companies are so successful? Because using the word hinna, makes it easier to hinna. Great word. Use it.",
                "audio-file": "1Hinna.mp3",
                "meaning": "To make it in time",
                "phonetic": "hee-nah",
                "id": "1"
              },
              {
                "share-url": "Dygna.html",
                "word": "Dygna",
                "explanation": "You all know what we\u2019re talking about. Sometimes you just have to dygna. Like when you\u2019re a highly advanced procrastinator, and that deadline hits you right in the face. Like this: \u201cWow, you look tired, the bags under your eyes are huge\u201d \u201cYes, I had to dygna because I couldn\u2019t get that damn code to work\u201d. We all have to dygna sometimes, so why not have a word for it? Let\u2019s just use dygna from now on.",
                "audio-file": "2Dygna.mp3",
                "meaning": "Staying awake for 24 hours",
                "phonetic": "dyng-nah",
                "id": "2"
              },
              {
                "share-url": "Patar.html",
                "word": "P\u00e5t\u00e5r",
                "explanation": "A very Swedish word, closely related to the fika. It basically means refill. But beware! It\u2019s only applicable to coffee, but still very useful. Because if you work hard (like a swede) you need that constant flow of coffee. You need p\u00e5t\u00e5r. Especially if you decide to dygna. So come on world, let\u2019s start using p\u00e5t\u00e5r.",
                "audio-file": "3P\u00e5t\u00e5r.mp3",
                "meaning": "On toes",
                "phonetic": "poe-t-oer",
                "id": "3"
              },
              {
                "share-url": "Tappasugen.html",
                "word": "Tappa sugen",
                "explanation": "Unfortunately it has nothing to do with suction. Tappa sugen is when you lose interest in something, or the craving to do something disappears. For instance: \u201cDo you still wanna get a Fanta and doughnut after work?\u201d \u201cNo, I have tappat sugen.\u201d Amazing, right? Let\u2019s just use tappa sugen instead.",
                "audio-file": "4Tappasugen.mp3",
                "meaning": "Lose suction",
                "phonetic": "tap-ha sue-ghen",
                "id": "4"
              },
              {
                "share-url": "Vabba.html",
                "word": "Vabba",
                "explanation": " Alas it does not have a translation. Such a pity. Because it\u2019s a word describing a situation when you can\u2019t come to work because your child is home sick, but you still get payed from F\u00f6rs\u00e4kringskassan. For instance: \u201cWasn\u2019t Staffan supposed to bring fika?\u201d \u201cHe vabbar so we will have to settle for buy-cookies.\u201d Pretty nice huh? Let\u2019s just use vabba instead.",
                "audio-file": "5Vabba.mp3",
                "meaning": "Vabba (?)",
                "phonetic": "vah-bah",
                "id": "5"
              },
              {
                "share-url": "Vobba.html",
                "word": "Vobba",
                "explanation": "Vobba is almost like vabba, but with one small difference. When you vobba you\u2019re taking care of your sick child, AND working from home. Multitasking at it\u2019s very finest! Blow your kid\u2019s nose and e-mail important clients at the same time. Great word.",
                "audio-file": "6Vobba.mp3",
                "meaning": "Vobba (?)",
                "phonetic": "voh-bah",
                "id": "6"
              },
              {
                "share-url": "Vabruari.html",
                "word": "Vabruari",
                "explanation": "A wordplay with vabba and the month februari (February). Why? Because in February vabbing peaks. The reason is debated, but there are two main explanations: 1. A lot of kids get sick in February. 2. The Winter Olympics are in February and people use their kids as an excuse to watch cross country skiing. It\u2019s a great word, no matter what.",
                "audio-file": "7Vabruari.mp3",
                "meaning": "Vabruari (?)",
                "phonetic": "vab-rue-awrie",
                "id": "7"
              },
              {
                "share-url": "Mysfaktor.html",
                "word": "Mysfaktor",
                "explanation": "A room can have mysfaktor, a mood can have mysfaktor and a group of people can have mysfaktor. It\u2019s the level of cosyness. And if you\u2019re a workteam with creative ambition, you need a certain amount of mysfaktor in your workspace to come up with those groundbreaking ideas. Trust us. Abba, Spotify and Skype couldn\u2019t have done it without some mysfaktor. Let\u2019s add some mysfaktor to the world.",
                "audio-file": "8Mysfaktor.mp3",
                "meaning": "The cosy factor",
                "phonetic": "mees-factor",
                "id": "8"
              },
              {
                "share-url": "Orka.html",
                "word": "Orka",
                "explanation": "Orka can mean \u201ccope\u201d. But also the opposite. Because it\u2019s much a way of HOW you articulate it. Like \u201cWanna go for an afterwork?\u201d \u201cOrka\u201d. In that case it means that you don\u2019t have the energy or desire to do it. It\u2019s pretty smart to have a word that means the opposite of itself. Right? Orka use orka? YES YOU DO! Let\u2019s just use orka from now on.",
                "audio-file": "9Orka.mp3",
                "meaning": "To be able to",
                "phonetic": "orch-ah",
                "id": "9"
              },
              {
                "share-url": "Fulsnygg.html",
                "word": "Fulsnygg",
                "explanation": "Have you ever met a person that\u2019s kind of ugly, yet weirdly attractive? Or seen a work of art that\u2019s hideous, but you still like it? Well, then you\u2019ve experienced something fulsnyggt. It\u2019s basically when something is ugly in a way that makes it attractive. Fulsnyggness is everywhere. It needs a word! So come on world, let\u2019s start using fulsnygg.",
                "audio-file": "10Fulsnygg.mp3",
                "meaning": "Uglygoodlooking",
                "phonetic": "feul-snig",
                "id": "10"
              },
              {
                "share-url": "Lordagsgodis.html",
                "word": "L\u00f6rdagsgodis",
                "explanation": "It\u2019s ok to eat cinnamon buns everyday at the five o\u2019clock fika. The whole office does it. But when it comes to candy, we\u2019re only allowed to eat it on Saturdays. Or at least according to this word, some of us cheat. But If you only eat candy on Saturdays you can binge all you want, without feeling guilty. The highlight of the week! Let\u2019s use l\u00f6rdagsgodis from now on.",
                "audio-file": "11L\u00f6rdagsgodis.mp3",
                "meaning": "Saturday candy",
                "phonetic": "lurr-dahs-goh-dees",
                "id": "11"
              },
              {
                "share-url": "Fika.html",
                "word": "Fika",
                "explanation": "The core of the Swedish mentality. If you ask a Swede \u201cwhat\u2019s the most Swedish thing?\u201d, don\u2019t be surprised if fika is the answer. So what\u2019s the deal? Well, Swedes have fika all the time. A short break when you get together over coffee and something sweet. And for a Tinder date, it feels more safe to suggest a fika rather than that Wagner Opera or dinner with the parents. So come on world, let\u2019s start using fika.",
                "audio-file": "12Fika.mp3",
                "meaning": "To have coffee",
                "phonetic": "feekha",
                "id": "12"
              },
              {
                "share-url": "Afterwork.html",
                "word": "After work",
                "explanation": "In Swedish After work doesn\u2019t mean the specific time after work. It\u2019s when you go for a beer or a glass of wine, after work. Maybe it\u2019s because we don\u2019t want to say \u201cgrab a beer\u201d or \u201chit the pub\u201d, in case the boss would hear us. Or maybe it\u2019s because drinks after work is something more than just drinks. It definitely deserves its own word.",
                "audio-file": "13Afterwork.mp3",
                "meaning": "After work",
                "phonetic": "eiftur jawbhet",
                "id": "13"
              },
              {
                "share-url": "Dandimpen.html",
                "word": "D\u00e5ndimpen",
                "explanation": "Like when your dry cleaner has miscoloured your best outfit. Or your most important pitch this year is being canceled, without any explanation. Or you get billed 15 euros for tap water. D\u00e5ndimpen is such a great word it gives you d\u00e5ndimpen. You need it, don\u2019t you?",
                "audio-file": "14D\u00e5ndimpen.mp3",
                "meaning": "Go crazy",
                "phonetic": "dawn-dimp-ehn",
                "id": "14"
              },
              {
                "share-url": "Duktig.html",
                "word": "Duktig",
                "explanation": "...And clever, and efficient, and capable, and smart, and useful. Well, it all comes down to one word: duktig. Duktig covers everything. That you\u2019re good at what you do, that you did something really well or that you\u2019re a hard worker. Whatever you want to say, simply say duktig.",
                "audio-file": "15Duktig.mp3",
                "meaning": "Good...",
                "phonetic": "dukh-tee",
                "id": "15"
              },
              {
                "share-url": "Spillevink.html",
                "word": "Spillevink",
                "explanation": "That\u2019s the direct translation, but it means nothing of that at all. Spillevink is used to describe a person who is fun, happy, inventive and creative, in a comic way. Every office needs a spillevink, someone who keeps up the moral with fun little escapades. Not all Swedes are spillevinks, but we sure appreciate them. And you should too. But! Then you need a word for it.",
                "audio-file": "16Spillevink.mp3",
                "meaning": "Overflow hint",
                "phonetic": "spiel-eh-veenk",
                "id": "16"
              },
              {
                "share-url": "Hen.html",
                "word": "Hen",
                "explanation": "Swedes loves the word hen. And no, not the chickens hen. Hen is a \u201cgender neutral third-person singular personal pronoun\u201d. Or just hen, as we would say. Why do you need it? Because you don\u2019t need people to know the gender of the person you\u2019re talking about. It\u2019s all a part of our Swedish openness, and now we want to share that with every hen out there.",
                "audio-file": "17Hen.mp3",
                "meaning": "Heshe/shehe",
                "phonetic": "hen",
                "id": "17"
              },
              {
                "share-url": "Snuskhummer.html",
                "word": "Snuskhummer",
                "explanation": "A snuskhummer is a dirty old (in most cases) man. It\u2019s a person with a dirty mind, that spends his/her time referring everything to sex. Almost every office has one or several snuskhummers. They exist everywhere, unfortunately. So you need the word snuskhummer to say: \u201cStop being such a snuskhummer\u201d.",
                "audio-file": "18Snuskhummer.mp3",
                "meaning": "Filthy lobster",
                "phonetic": "snask-humm-ehr",
                "id": "18"
              },
              {
                "share-url": "Snackpase.html",
                "word": "Snackp\u00e5se",
                "explanation": "Don\u2019t be fooled! It has nothing to do with snacks. And if you realize it too late you might be stuck with the snackp\u00e5se forever. Because a snackp\u00e5se is someone who talks too much and all the time. It might be a client, a co-worker or the guy who sells falafel. Beware of the snackp\u00e5se, warn others of the snackp\u00e5se, and don\u2019t be a snackp\u00e5se yourself. This word is obviously needed.",
                "audio-file": "19Snackp\u00e5se.mp3",
                "meaning": "Snack bag",
                "phonetic": "snack-paws-eh",
                "id": "19"
              },
              {
                "share-url": "Sondagsangest.html",
                "word": "S\u00f6ndags\u00e5ngest",
                "explanation": "Okey, who hasn\u2019t experienced Sunday night blues? Or s\u00f6ndags\u00e5ngest as the efficient Swedes call it. The feeling of anxiety about the week to come. The s\u00f6ndags\u00e5ngest shouldn\u2019t be too long, so simply use one word for it instead of three, and get it over with.",
                "audio-file": "20S\u00f6ndags\u00e5ngest.mp3",
                "meaning": "Sunday night blues",
                "phonetic": "sun-dawgs-ong-est",
                "id": "20"
              },
              {
                "share-url": "Harkla.html",
                "word": "Harkla",
                "explanation": "Ahm, ahm. Before saying something you clear your throat, right? And here\u2019s the thing again. We have one word for a very simple action. You have three. One is better than three. Harkla is better than \u201cclear your throat\u201d.",
                "audio-file": "21Harkla.mp3",
                "meaning": "Clear your throat",
                "phonetic": "harr-clah",
                "id": "21"
              },
              {
                "share-url": "Blunda.html",
                "word": "Blunda",
                "explanation": "Just blunda and let the power of the Swedish efficiency flow through you. It has two meanings: You blunda while you sleep (if you\u2019re not one of those very scary people who sleep with their eyes open). And you can blunda for a certain issue, it\u2019s when you pretend it\u2019s not a real problem. \u201cDon\u2019t blunda for climate change\u201d. Blunda is the word.",
                "audio-file": "22Blunda.mp3",
                "meaning": "Close your eyes",
                "phonetic": "blun-dah",
                "id": "22"
              },
              {
                "share-url": "Kaffegasp.html",
                "word": "Kaffegäsp",
                "explanation": "Kaffegäsp is a great word, especially if you\u2019re a big coffee drinker (like most Swedes). Kaffegäsp is the tiredness that occurs at the time of the day when you usually have a coffee. Which means it\u2019s time to have a fika break. Like: \u201cI\u2019m getting the kaffegäsp, time for a fika\u201d. Every coffee drinker gets the kaffegäsp, so every coffee drinker needs a word for it.",
                "audio-file": "23Kaffegäsp.mp3",
                "meaning": "Coffee yawn",
                "phonetic": "caff-ei-yesp",
                "id": "23"
              },
              {
                "share-url": "Hejhej.html",
                "word": "Hejhej",
                "explanation": "Or tjenatjena, hall\u00e5hall\u00e5 and tacktack. Swedes double their greetings and their thank you:s. Why? Because it\u2019s a lot nicer to be double greeted and double thank-you:d. Try it on your next job-interview for instance! Double the niceness! Nicenice.",
                "audio-file": "24Hejhej.mp3",
                "meaning": "Hellohello",
                "phonetic": "hei-hei",
                "id": "24"
              },
              {
                "share-url": "Kramsno.html",
                "word": "Kramsn\u00f6",
                "explanation": "In Sweden we have a lot of snow, and we love snowball-fights. And making snow men. So we came up with a word for when the snow is super-easy to shape. The use of Kramsn\u00f6 might not be obvious if you\u2019re in like Singapore or Sao Paulo. But it\u2019s still pretty cute. Don\u2019t be surprised if the Swedes get homesick because it\u2019s kramsn\u00f6 in Sweden.",
                "audio-file": "25Kramsn\u00f6.mp3",
                "meaning": "Hug Snow",
                "phonetic": "kram-sneu",
                "id": "25"
              },
              {
                "share-url": "Skadegladje.html",
                "word": "Skadegl\u00e4dje",
                "explanation": "German? What. No. Why use a German word, when we\u2019ve proven to you that Swedish is an awesome language? We propose a swap: Switch Schadenfreude for Skadegl\u00e4dje. More Swedish for everyone! And if you don\u2019t know what skadegl\u00e4dje means, it\u2019s when you feel joy for someone else\u2019s misfortune. The Muahahaha-feeling.",
                "audio-file": "26Skadegl\u00e4dje.mp3",
                "meaning": "Schadenfreude",
                "phonetic": "skah-deh-gleh-dyeah",
                "id": "26"
              },
              {
                "share-url": "Ombudsman.html",
                "word": "Ombudsman",
                "explanation": "Oh, right! You already use our Swedish word here. Good for you! Now continue.",
                "audio-file": "27Ombudsman.mp3",
                "meaning": "Ombudsman",
                "phonetic": "ohm-buds-man",
                "id": "27"
              },
              {
                "share-url": "Smorgasbord.html",
                "word": "Sm\u00f6rg\u00e5sbord",
                "explanation": "Yes! You speak Swedish without even knowing it. Smorgasbord is super-Swedish. Keep up the good work!",
                "audio-file": "28Sm\u00f6rg\u00e5sbord.mp3",
                "meaning": "Smorgasbord",
                "phonetic": "smoer-goes-board",
                "id": "28"
              },
              {
                "share-url": "Tvattid.html",
                "word": "Tv\u00e4ttid",
                "explanation": "Tv\u00e4ttid is the time when you have booked the laundry room. A sacred time for us, because it has to be respected. Otherwise you won\u2019t get a new tv\u00e4ttid for two weeks and have to wash your clothes in the sink. The great thing about tv\u00e4ttid is that it is an excuse for everything: \u201cI would love to, but i can\u2019t. I have tv\u00e4ttid\u201d. A very useful word.",
                "audio-file": "29Tv\u00e4ttid.mp3",
                "meaning": "Wash time",
                "phonetic": "tvat-teed",
                "id": "29"
              },
              {
                "share-url": "Jhu.html",
                "word": "Jhu",
                "explanation": "Don\u2019t be surprised if a Swede does a sharp intake of breath that sounds like \u201cJhu\u201d when you\u2019re talking to them. And no, we\u2019re not surprised or scared. We simply agree with you! It actually means \u201cYes\u201d or \u201cI agree\u201d. A brilliant word/sound. Say schfuup to the word!",
                "audio-file": "30Jhu.mp3",
                "meaning": "Yes (sort of)",
                "phonetic": "inhale",
                "id": "30"
              },
              {
                "share-url": "Vaska.html",
                "word": "Vaska",
                "explanation": "When your business hits that unicorn-level, you might have so much money to spend that you have to be creative about it. The Swedes have a solution for this. We vaska expensive champagne, which means you order it at the club and ask the bartender to pour it in the sink. It\u2019s so stupid it must have a word.",
                "audio-file": "31Vaska.mp3",
                "meaning": "Pour out alcohol",
                "phonetic": "waskh-a",
                "id": "31"
              },
              {
                "share-url": "Jobbig.html",
                "word": "Jobbig",
                "explanation": "You might think it has something to do with work. It hasn\u2019t. Because jobbig is when something or someone is annoying and blithering. So yeah, it could be a perfect word for work. So don\u2019t be jobbig, start using jobbig.",
                "audio-file": "32Jobbig.mp3",
                "meaning": "Worky",
                "phonetic": "jaw-big",
                "id": "32"
              },
              {
                "share-url": "Blasvader.html",
                "word": "Bl\u00e5sv\u00e4der",
                "explanation": "Yep. Bl\u00e5sv\u00e4der is the term for when it\u2019s windy outside. Nothing weird about that. But it also means that you end up in trouble, in an exposed situation. Big companies end up in bl\u00e5sv\u00e4der all the time, when they say or do something that is publically criticized. Like spill oil in the ocean and then talk about small people. So please, stay away from bl\u00e5sv\u00e4der. But start using bl\u00e5sv\u00e4der.",
                "audio-file": "33Bl\u00e5sv\u00e4der.mp3",
                "meaning": "Windy weather",
                "phonetic": "bloes-vey-durr",
                "id": "33"
              },
              {
                "share-url": "Ovan.html",
                "word": "Ov\u00e4n",
                "explanation": "No No. No. This is not something you can do on social media. An ov\u00e4n is a person you don\u2019t get along with. Almost like an enemy or a nemesis. The ov\u00e4n simply doesn\u2019t like you, and you don\u2019t like her/him. Don\u2019t become ov\u00e4n with the wrong people though. You\u2019ll never know when you might need a favor. A very handy word, let\u2019s introduce the ov\u00e4n to the world.",
                "audio-file": "34Ov\u00e4n.mp3",
                "meaning": "Unfriend",
                "phonetic": "oo-van",
                "id": "34"
              },
              {
                "share-url": "Lagom.html",
                "word": "Lagom",
                "explanation": "Sweden \u2013 the country of lagom. It\u2019s debated whether or not this word exists in the english language or. It basically means just right, or moderate. Not too much, not too little. Not to hot, not too cold. But we don\u2019t think that any of these words does the job properly as a translation. And why have so many different versions? Just use lagom instead.",
                "audio-file": "35Lagom.mp3",
                "meaning": "Just right",
                "phonetic": "lah-ghom",
                "id": "35"
              }
            ]
        </script>
    </head>
    <body class="blue">
        <div class="business-logo">
            <img src="img/BusSwe_Logo-TL_White.png">
        </div>
        <div class="info-link">
            + info
        </div>
        <div class="info-box">
            <div id="info-box-container">
                <div class="header">
                    <span>
                        Who Are We?
                    </span>
                </div>
                <div class="text">
                    This is an initiative by Business Sweden. And who are we? Half-government, half-business. Suits? Yes. But the only thing you really need to know about us is that we help Swedish startups expand their business abroad. Making sure they reach their full international potential. How? Counseling, information, education, tailored services, establishment and providing contacts in 57 different countries.
                    <br><br>
                    Are you a Swedish startup interested in the world? <a href="http://www.business-sweden.se/Export/" target="_blank">Contact us.</a>
                    <br>
                    Are you the world and interested in Swedish startups? <a href="http://www.business-sweden.se/en/Invest/" target="_blank">Contact us.</a>
                </div>
                <div class="pointing-hand hand">
                    <img src="img/hands/pointing-hand.svg">
                </div>
            </div>
        </div>
        <div class="main">
            <div class="header">
                <div class="swedish-word">
                    <span>
                        <img id="logotype" src="img/logotype.svg">
                    </span>
                </div>
                <!-- Either or -->
                <div class="subtext">
                    <span>
                    </span>
                    <i class="fa fa-volume-up" id="audio-button" aria-hidden="true"></i>
                </div>
            </div>
            <div class="description">
                <span>
                    Here’s the thing: We at Business Sweden help Swedish startups expand their business abroad. Which is great, because the world needs more swedishness. So we figured, since we’re bringing our Swedish startups to you, we want to help you prepare – by teaching you some swedish. So you can start to vabba, orka, take påtår, dygna, tappa sugen, be fulsnygga and get dåndimpen. Just like the swedes.
                    <br><br>
                    Great swedishness is coming your way.
                    <br>
                    This dictionary will help you prepare.
                </span>
            </div>
            <div class="action-buttons yellow">
                <div class="button" id="email-button">
                    <span class="text">
                        I have a word!
                    </span>
                </div>
                <div class="button" id="action-button" data-action="start">
                    <span class="text">
                        Start!
                    </span>
                </div>
            </div>
            <div class="social-buttons">
                <i class="fa fa-twitter" id="twitter-share" aria-hidden="true"></i>
                <i class="fa fa-facebook" id="facebook-share" aria-hidden="true"></i>
            </div>

            <div class="peace-hand hand">
                <img src="img/hands/peace-hand.svg">
            </div>
        </div>

        <script>
            $( document ).ready(function(){
                var info_showing = false;
                var word_data = JSON.parse(document.getElementById('words').innerHTML);
                var current_word = null;

                function showInfo(){
                    $('.info-link').text("- info").addClass("info-link-in-box");
                    $('.info-box').animate({
                        marginTop: "0px"
                    }, 500)
                    info_showing = true;
                }

                function hideInfo(){
                    $('.info-link').text("+ info").removeClass("info-link-in-box");
                    $('.info-box').animate({
                        marginTop: "-90vh"
                    }, 500)
                    info_showing = false;
                }

                function setBlue() {
                    var primary = "blue";
                    var secondary = "yellow";

                    $("body").addClass(primary);
                    $("body").removeClass(secondary);
                    $(".action-buttons").addClass(secondary);
                    $(".action-buttons").removeClass(primary);
                }

                function setYellow() {
                    var primary = "yellow";
                    var secondary = "blue";

                    $("body").addClass(primary);
                    $("body").removeClass(secondary);
                    $(".action-buttons").addClass(secondary);
                    $(".action-buttons").removeClass(primary);
                }

                function randomInt(max) {
                    return Math.floor(Math.random() * max);
                }

                function getNextWord() {
                    var index = randomInt(word_data.length);
                    var next_word = word_data.splice(index, 1)[0];
                    return next_word;
                }

                function displayNewWord() {

                    // Fill with new text
                    $('.swedish-word span').text("#"+current_word['id']+" "+current_word['word']);
                    $('.subtext span').text("["+current_word['phonetic']+"]").css("font-style", "normal");
                    $('.description span').empty();
                    $('#action-button span').text("Translate me");
                    $('#email-button').hide(0);

                    // Translate when clicked
                    $('#action-button').data("action", "translate");

                }

                function showAudioButton() {
                    if( $(window).width()<500 ){
                        $('#audio-button').css('display', 'block');
                    }
                    $('#audio-button').css('visibility', 'visible');
                }

                function hideAudioButton() {
                    if( $(window).width()<500 ){
                        $('#audio-button').css('display', 'none');
                    }
                    $('#audio-button').css('visibility', 'hidden');
                }

                function displayTranslation() {
                    $('.swedish-word span').text(current_word["word"]);
                    $('.subtext span').text(current_word["meaning"]).css("font-style", "italic");
                    $('.description span').text(current_word["explanation"]);
                    $('#action-button span').text("Another one");
                    $('#email-button').hide(0);

                    if (word_data.length == 0){
                        $('#action-button').data("action", "end");
                    } else {
                        $('#action-button').data("action", "next");
                    }
                }

                $('.info-link').click(function() {
                    if(info_showing)
                        hideInfo();
                    else
                        showInfo();
                });

                $('#action-button').click(function() {
                    var action = $('#action-button').data("action");
                    if(action !== "translate" && action !== "end") {
                        current_word = getNextWord();
                        stateChange();
                    } else  {
                        stateChange();
                    }
                });

                $('#email-button').click(function(){
                    window.open('mailto:word@businesssweden.se?subject=I%20Have%20a%20Word!');
                });

                $('.business-logo').click(function(){
                    window.location.href = 'http://takeovertheword.com/';
                });

                function restart() {
                    $('.description span').removeClass('.not-intro');
                    $('#email-button').hide(0);
                    $('.social-buttons').hide(0);
                    $('.peace-hand').hide(0);

                    showAudioButton();
                    displayNewWord();
                }
                function displayFinalPage() {
                    $('.swedish-word span').text("Grattis!");
                    $('.subtext span').text("[graw-tees]").css('font-style', 'normal');
                    $('.description span').html("Or as you would say: congratulations! You are now one step closer to achieve true swedishness. And hopefully ready to work with our Swedish startups. Great! Because that was all the swedish words we have for now. But if you have another one, give us a call or click the button below.<br><br>Hej då! [hei-doe]");

                    $('#action-button span').text("Start over!");
                    $('#action-button').data("action", "restart");

                    $('#email-button').show(0);
                    $('.social-buttons').show(0);
                    hideAudioButton();

                    if(window.innerWidth>840){
                        $('.peace-hand').show(0);
                    }

                    // set up for next round
                    word_data = JSON.parse(document.getElementById('words').innerHTML);
                }

                // Social buttons
                function get_share_url() {
                    if(!current_word)
                        return "takeovertheword.com";
                    return "takeovertheword.com/word_pages/"+current_word['share-url'];
                }

                $('#facebook-share').click(function() {
                    var h = 500;
                    var w = 700;
                    var y = window.top.outerHeight / 2 + window.top.screenY - ( h / 2)
                    var x = window.top.outerWidth / 2 + window.top.screenX - ( w / 2)
                    window.open("https://www.facebook.com/dialog/share?  app_id=145634995501895&display=popup&href="+get_share_url()+"&display=page", "fb-popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+y+', left='+x)
                });
                $('#twitter-share').click(function() {
                    var h = 500;
                    var w = 700;
                    var y = window.top.outerHeight / 2 + window.top.screenY - ( h / 2)
                    var x = window.top.outerWidth / 2 + window.top.screenX - ( w / 2)
                    window.open("https://twitter.com/intent/tweet?text=Time%20to%20learn%20Swedish!&url=http%3A%2F%2Ftakeovertheword.com", "twitter-popup", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+y+', left='+x)
                });

                $('#audio-button').click(function() {
                    var audio = new Audio('audio/'+current_word['audio-file']);
                    audio.play();
                })

                // Let's do history
                var History = window.History;
                History.Adapter.bind(window,'statechange',function(){
                    var State = History.getState();
                    // History.log(State.data, State.title, State.url);
                    loadState(State.data)
                });

                function stateChange() {
                    var action =  $('#action-button').data("action");
                    var word = current_word ? current_word['word'] : null;
                    var title;
                    if(action == "next" || action =="translate" || action === "restart"){
                        title = word;
                    } else if (action === "start"){
                        title = "Welcome";
                    } else if (action === "end"){
                        title = "Grattis";
                    } else {
                        console.log(action);
                        title = "ERROR";
                    }

                    History.pushState({
                            current_word: current_word,
                            word_data: word_data,
                            page_type: action
                        },
                        "Take Over The Word - " + title,
                        "?"+title
                    );
                }

                function loadState(state_data) {
                    current_word = state_data['current_word'];
                    word_data = state_data['word_data']
                    action = state_data['page_type'];
                    if(action ==="start") {
                        setBlue();
                        $('.description span').addClass('not-intro');
                        $('.peace-hand img').attr('src', 'img/hands/thumb-hand.svg');
                        $('.peace-hand').hide(0);

                        // display audio button first time
                        $('#audio-button').show()

                        showAudioButton();
                        displayNewWord();

                    } else if(action ==="translate") {
                        setYellow();
                        $('.social-buttons').show(0);

                        hideAudioButton();
                        displayTranslation();

                    } else if(action ==="next") {
                        setBlue();
                        $('.social-buttons').hide(0);
                        showAudioButton();
                        displayNewWord();
                    } else if (action === "end") {
                        setBlue();
                        $('.social-buttons').hide(0);
                        showAudioButton();
                        displayFinalPage();
                    } else if(action === "restart") {
                        setBlue();
                        restart();
                    }
                }
            });

        </script>
    </body>
    <!-- Developed by Pärham FH - parham@fazelzadeh.se -->
</html>
